*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("../img/background/bg.png");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Courier";
}

input[type="text"] {
    height: auto;
    width: 222px;
    background-color: #b2bec3;
    border: 1px solid #2d3436;
    border-radius: 3px;
    font-size: 16px;
    caret-color: #c0392b;
    color: #2d3436;
    padding: 5px 10px;
}

input[type="text"]:not(:last-of-type) {
    margin-bottom: 5px;
}

input[type="text"]:focus {
    outline: none;
}

button[type="button"] {
    position: relative;
    background-color: #2d3436;
    border: 1px solid #2d3436;
    border-radius: 5px;
    color: #ffffff;
    padding: 8px 16px;
    cursor: pointer;
}

button[type="button"]:not(:last-of-type) {
    margin-right: 16px;
}

button[type="button"]::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #2d3436;
    border: 1px solid #2d3436;
    border-radius: 5px;
    z-index: -1;
}

button[type="button"]:hover::before {
    animation: pulseBtn 1.1s linear infinite;
}

@keyframes pulseBtn {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(1.3);
        opacity: 0;
    }
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container>.c-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    border: 1px solid #000000;
    border-radius: 16px;
    padding: 32px;
}

.container>.c-wrap>h1 {
    text-transform: capitalize;
    font-variant: small-caps;
    color: #2d3436;
    margin-bottom: 16px;
}

.container>.c-wrap>.btn-group {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}

.success-auth-bar {
    position: absolute;
    top: 0px;
    left: -30%;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    transition: left 0.5s linear;
}

.success-auth-bar>span {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 32px;
    color: #55efc4;
    transition: color 0.3s linear;
    cursor: pointer;
}

.success-auth-bar>span:hover {
    color: #16a085;
}

.success-auth-bar>img {
    height: auto;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 16px #00b894;
}

.success-auth-bar>p:first-of-type {
    font-weight: bold;
    color: #9b59b6;
    margin-top: 32px;
}

.success-auth-bar>p {
    font-size: 20px;
    line-height: 30px;
    color: #bdc3c7;
}

.success-auth-bar>p:last-of-type {
    font-weight: bold;
    color: #f1c40f;
}